body{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
figure{
	    margin: 0;
    padding: 0;
}
.bg{
	width: 600px;
	height: 600px;
	background: #fff;
	opacity: 0.5;
}
.dbgimg{
    width: 100%;
    height: 100%;
    background: url(../imgs/bg.jpg);
    background-size: 100% 100%;
}
#canvas,.bg{
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -300px;
	box-shadow: 0 0 13px black;
    background-color: rgba(176,190,197,0.6);
}
#canvas1{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
}
#canvas2{
    display: block;
    position: absolute;
    left: 20%;
    top: 20%;
    margin-left: -50px;
    margin-top: -50px;
}
/* #huiqi{
	border: 1px solid black;
	background: #ff6700;
	width: 50px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	position: absolute;
	right: 10%;
	top: 300px;
	cursor:pointer;*/

.button{
width: 140px;
line-height: 38px;
text-align: center;
font-weight: bold;
color: #fff;
text-shadow:1px 1px 1px #333;
border-radius: 5px;
margin:0 20px 20px 0;
position: fixed;
overflow: hidden;
z-index: 999;
top: 50%;
right: 10%;
}
.button.black{
border:1px solid #333;
box-shadow: 0 1px 2px #8b8b8b inset,0 -1px 0 #3d3d3d inset,0 -2px 3px #8b8b8b inset;
background: -webkit-linear-gradient(top,#656565,#4c4c4c);
background: -moz-linear-gradient(top,#656565,#4a4a4a);
background: linear-gradient(top,#656565,#4a4a4a);
}


#canvas,#canvas1,.bg,.restar{
    display: none;
}
.button.star{
    height: 38px;
    position: absolute;
    left: 0%;
    bottom: 0%;
    margin: auto;
    top: 0%;
    right: 0%;
}